{% extends "base.html"%} {%block title %} Sign up {% endblock %}

{% block content %}

<form method= "POST">
    <h3 align = "center">Sign Up</h3>
    <div class = "form_group">
        <label for = "email">Email Address</label>
        <input type = "email" class = "form-control" id="email" name="email"> placeholder = "Enter email"/>        
    </div>
    <div class = "form_group">
        <label for = "firstname">First name Address</label>
        <input type = "text" class = "form-control" 
            id="firstname" name="email"> placeholder = "Enter first name"/>        
    </div>
    <div class = "form_group">
        <label for = "password1 type = "password" class = "form-control" id="password1" name="email"> placeholder = "Enter password"/>        
    </div>
    <div class = "form_group">
        <label for = "password2">Password (Confirm) </label>
        <input type = "password" class = "form-control" 
            id="password2" name="password2"> placeholder = "confirm Password"/>        
    </div>
    <br />
    <button type = "submit" class = "btn btn-primary">Submit</button>
</form>    
{% endblock%}